@media screen and (min-width: 768px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        
    }
    div#component {
        display: flex;
        flex-wrap: row;
        width: 100%;
        max-width:  600px; ;
        box-shadow: 1px 0px 1px 1px rgba(156, 156, 156, 0.267);
        border-radius: 20px ;
    }
    div#result {
        border-radius: 20px;
    }
    div#number {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    
    div#summary {
        width: 100%;
        padding: 25px;
    }
}